.hero {
  background-image: url("images/overlay5.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 43px 30px;
  margin-bottom: 70px;
}
h1 {
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 72px;
}
h3 {
  color: 272142;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 28px;
  padding: 20px 0;
}
p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  line-height: 35px;
}

div.content {
  display: block;
  margin: 0 auto;
}
